# Datasets (large CSV files - don't push to GitHub)
Datasets/

# Jupyter checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/

# Environment variables (API keys etc)
.env
*.sqlite3
# Virtual Environment
.venv/
venv/
env/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Django
*.log
db.sqlite3
db.sqlite3-journal
/staticfiles/


# OS
.DS_Store
Thumbs.db
